<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Zam-Zam</title> 
  <link rel="icon" href="icon mfc/ic_launcher-63d90dcd83a32/android/mipmap-hdpi/ic_launcher.png">
  <link rel="apple-touch-icon" href="icon mfc/ic_launcher-63d90dcd83a32/android/mipmap-xxxhdpi/ic_launcher.png">
  
  <link rel="manifest" href="app.webmanifest">
  <meta name="theme-color" content="#FFF7E9"/>

</head>
<body>
  <skip-link href="#maincontent" value="Menuju ke konten"></skip-link>
  <header-ce></header-ce>
  <nav-ce></nav-ce>
  <main id="maincontent">
  </main>
  <modal-ce></modal-ce>
  <footer>
    <p>Copyright © 2023 - Restaurant Zam-Zam</p>
  </footer>
</body>
</html>
